.header {
  background-image: url(../../assets/img/header-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  height: 840px;
  margin-bottom: 80px;
}
