.header {
  background-image: url(../../assets/img/header-img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  height: 750px;
  margin-bottom: 80px;
  background-size: 100%;
}

/* @media only screen and (max-width: 1400px) {
  .header {
    background-size: 70%;
  }
}

@media only screen and (max-width: 1280px) {
  .header {
    background-size: 60%;
  }
}

@media only screen and (max-width: 840px) {
  .header {
    background-size: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    background-size: 90%;
  }
} */
